@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;    
}
body{
    font-family: "montserrat", sans-serif;
}
nav{
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
#language{
    border: 1px transparent;
    border-radius: 30px;
    background-color: rgb(230, 229, 229);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
}
.main-header{
    background: url(./assets/img/bg.jpg) center/cover;
    gap: 30px;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#logo{
    justify-content: center;
    margin: 0 auto;
}
.main-header h1{
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
}
.main-header button{
    display: block;
    cursor: pointer;
    background: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border: 1px solid white;
    transition: 0.1s; 
    font-size: 1rem;   
    padding: 15px;
    margin: 0 auto;
}
.main-header button :hover{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.main-header button :active{
    transform: scale(1.2);
}
.header-text{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
.icon-part{
    background: rgb(29, 29, 29);
    color: white;
    display: flex;
    padding: 100px;
    justify-content: space-around;
}
.icon-part-container{
    display: flex;
}
.list-icon-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-icon-part h3{
    text-transform: uppercase;
    padding: 5px;
}
.list-icon-part p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    width: 60%;
    padding-bottom: 35px;
}
.list-icon-part button{
    display: block;
    cursor: pointer;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
    transition: 0.1s; 
    font-size: 1rem;   
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list-icon-part button :hover{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    background: gray;
}
.list-icon-part button :active{
    transform: scale(1.2);
}
.lip-logo{
    padding: 20px;
    padding-bottom: 35px;
}
.header-news{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
}
.left-part h2{
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.left-part p{
    text-transform: capitalize;
    font-weight: bold;
}
.right-part button{
    display: block;
    cursor: pointer;
    background: transparent;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    transition: 0.1s; 
    font-size: 1rem;   
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}
.right-part button :hover{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    background: gray;
}
.right-part button :active{
    transform: scale(1.2);
}
.main-news{
    display: flex;    
}
.news-part{
    display: flex;
    flex-direction: column;
}
.main-news-container{
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-around;
    align-items: center;
}
.mn-pic img{
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #b7b5b5;
}
.link a{
    text-decoration: none;
    font-weight: 650;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin: 0 auto;
}
.main-news-container h4{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: left;
    margin: 0 auto;
}
.main-news-container p{
    text-align: left;
}